In [1]:
import fileinput
amazon_file=fileinput.FileInput('amazon-meta.txt')
dicts={}
for line in amazon_file:
    line=line.strip().split(':')
    if line[0]=='Id':
        dicts[line[1].strip()]={}
        var=line[1].strip()
    if line[0]=='group':
        dicts[var]['group']=line[1].strip()
    if line[0]=='salesrank':
        dicts[var]['salesrank']=line[1].strip()
    if line[0]=='categories':
        dicts[var]['counts']=line[1].strip()
print("dict builded")

dict builded

In [3]:
dicts['2']['counts']

'2'

In [4]:
data=[]
for key in dicts.keys():
    row=[]
    row.append(key)
    try:
        row.append(dicts[key]['group'])
        row.append(dicts[key]['salesrank'])
        row.append(dicts[key]['counts'])
    except KeyError:
        continue
    data.append(row)

In [4]:
def cal_rank(x):
    x=int(x)
    if x<50000:
        y="<50000"
    elif x>=50000 and x<100000:
        y="50000-100000"
    elif x>=100000 and x<150000:
        y="100000-150000"
    elif x>=150000 and x<200000:
        y="150000-200000"
    elif x>=200000 and x<250000:
        y="200000-250000"
    elif x>=250000 and x<300000:
        y="250000-300000"
    elif x>=300000 and x<350000:
        y="300000-350000"
    elif x>=350000 and x<400000:
        y="350000-400000"
    elif x>=400000 and x<450000:
        y="400000-450000"
    elif x>=450000 and x<500000:
        y="450000-500000"
    elif x>=500000 and x<550000:
        y="500000-550000"
    elif x>=550000 and x<600000:
        y="550000-600000"
    elif x>=600000 and x<650000:
        y="600000-650000"
    elif x>=650000 and x<700000:
        y="650000-700000"
    elif x>=700000 and x<750000:
        y="700000-750000"
    elif x>=750000 and x<800000:
        y="750000-800000"
    elif x>=800000 and x<850000:
        y="800000-850000"
    elif x>=850000 and x<900000:
        y="850000-900000"
    elif x>=900000 and x<950000:
        y="900000-950000"
    else:
        y=">950000"
    
    return y

In [5]:
import pandas as pd
data_df=pd.DataFrame(data, columns=['Id','group','salesrank','counts'])
data_df[0:10]

       Id  group salesrank counts
0  371743   Book    101803      5
1  176080  Video     30980      2
2  224199  Music     87932      6
3    7558  Music    213553      2
4  290974   Book    420142      4
5   97775  Music     69381      4
6  418827   Book     32976      4
7  262697   Book    277892      1
8   33680   Book   1002872      6
9  421179   Book    518774      2

True

In [6]:
data_df.to_csv("output.csv",header=True, index=False)